/*----account profile photo---------------------------------------------------*/
.log-picture {
  position: absolute;
  display: flex;
  -webkit-box-pack: center;
  margin-top: 25px;
  margin-left: 10px;
  box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.3);
}

.card-account {
  display: flex;
  flex-direction: column;
  background: #d4d4c7;
  padding: 20px;
  border-radius: 3pt;
  margin: 20pt;
  box-shadow: 1px 1px 1px rgba(1,1,1,0.5);
}
