/*----- header title of the profile account company------*/
.transbox {
  font-family:Ssans-serif;
  padding-bottom: 25px;
}
/*------- button to add new job offer----------------------*/
.add-job-offer {
  width: 100%;
  margin-bottom: 20px;
}
/*------- job offer CARDS----------------------------------*/
.bootstrap-demo {
  margin:10px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-padding {
  margin-top: 10px;
}
