.log-picture {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 5pt;
  box-shadow: 1px 1px 1px rgba(1,1,1,0.3);
}
.add-job-offer {
  position: absolute;
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
}
