.header-job offer {
  text-aling: center;
}


.card-account {
  display: flex;
  flex-direction: column;
  background: #d4d4c7;
  padding: 20px;
  border-radius: 3pt;
  margin: 20pt;
  box-shadow: 1px 1px 1px rgba(1,1,1,0.5);
}
