/*----- header title of the profile account company------*/
.transbox {
  font-family:Ssans-serif;
  padding-bottom: 25px;
}
/*-------account profile photo -----------------------------*/
.log-picture {
  display: flex;
}
/*------- button to add new job offer----------------------*/
.add-job-offer {
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
}
/*------- job offer CARDS----------------------------------*/
.bootstrap-demo {
  margin:10px;
}
.card {
  width:325px;
}
/*---------button to see all job offer------------------------*/
.see-all-offers {
  margin-top: 50px;
  background-color: slategray;
  border-color: slategrey;
}
