.profile {
  background-color: #F1ECEC;
  padding: 20px;
  border-radius: 2pt;
  margin: 20px auto;
  width: 600px;
}

.profile {
  display: flex;
  margin-bottom: 50px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  .header-information {
    font-size: 10px;
  }
}
.first_name {
  float: left;
}
.title {
  margin: 10px 0;
}

.city {
  font-weight: 700;
  width: 140px;
}

.other-information {
  width: 250px;
  margin-left: auto;
}

// first_name %></h2>
// <h2><%= @profile.last_name %></h2>
// <h2><%= @profile.age %></h2>
// <h2><%= @profile.gender %></h2>
// <h2><%= @profile.location %></h2>
// <h2><%= @profile.availability %></h2>
//
.profile-wrapper {
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  // background-color: white;
  min-height: 70vh;
  padding-bottom: 20px;
  // box-shadow: 2px 2px 2px rgba(1,1,1,0.3);
}

.profile-information {
  display: flex;
}

.profile-content {
  margin: 0 auto;
  width: 180px;
  span {
    font-size: 27px;
    font-weight: 700;
    word-wrap: break-word;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  i {
    color: white;
    height: 40px;
    transform: scale(1);
    &:hover {
      transition: 200ms ease;
      color: white;
      transform: scale(1.04);
    }
  }
}

.job-application {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-top: 1px solid #00A699;
  border-bottom: 1px solid #00A699;
  border-left: 0px solid #00A699;
  border-right: 0px solid #00A699;
  transform: scale(1);
  background: white;
  transition: transform 200ms ease;
  margin-bottom: 0px;
  position: relative;
  i {
    color: #00A699;
    &:hover {
      color: #00A699;
    }
  }
  &:hover {
    transform: scale(1.1);
    z-index: 999;
    margin-bottom: 3px;
    border-left: 1px solid #00A699;
    border-right: 1px solid #00A699;
  }
}

.profile-title {
  position: relative;
  padding-top: 10px;
  a {
    position: absolute;
    top: 15px;
    right: -40px;
  }
  i {
    color: #00A699;
    transform: scale(1);
    transition: scale 200ms ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.job-information {
  margin-left: 10px;
  width: 400px;
  .company-name {
    font-weight: 700;
  }
  .job-name {
    font-size: 11px;
  }
}

.red {
  color: red !important;
}

.green {
  color: green !important;
}
