<h3>JobApplications#new</h3>

<%= form_for @job_applications do |j| %>
  <%= j.label :name %>:
  <%= j.text_field :name %><br>

  <%= j.submit %>
<% end %>

<!-- <p>Find me in app/views/job_applications/new.html.erb</p> -->
