<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= simple_form_for @job_application, url: contractor_job_job_applications_path(@job_offer) do |f| %>
      <div class="letter">
        <%= f.input :motivation_letter %>
        <%= f.submit 'create' %>
      </div>     
      <% end %>

    </div>
  </div>
</div>

