  <% if flash[:notice] %>
    <div class="alert alert-info fade in">
      <button class="close" data-dismiss="alert">×</button>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert1] && params[:action] != "home" %>
    <div class="alert alert-error fade in">
      <button class="close" data-dismiss="alert">×</button>
      <%= flash[:alert1] %>
    </div>
  <% end %>
