<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-6 text-right">
        <p>Copyright by Matchers  - 2016
        <a href="http://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.google.nl/maps" target="_blank"><i class="fa fa-location-arrow"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>
