
<div class="main-header text-center">
  <h1>MATCHERS</h1>
</div>
<div class="main-text text-center">
  <div class="anything_but_bootstrap">
  <p>
    Find your short-term employees anywhere, anytime.
    You are a B2B company.
    You attend trade shows, conferences and temporary events all over the world.
    You need local, short-term employees from sales personnel, translators to assistants to set up your booth and electricity.

    Matchers provides you with immediate assistance.
  </p>
  </div>
  <%= link_to company_account_profile_path do %>
  <div class="button-company">
    <p>
      Find your <br>
      employees now
    </p>
  </div>
  <% end %>
</div>


<div class="banner-company"></div>
