
<div class="main-header text-center">
  <h1>MATCHER</h1>
</div>
<div class="main-text text-center">
  <div class="anything_but_bootstrap">
  <h3>
    Find your short-term employees anywhere, anytime.
  </h3>
    <p>
    You are a B2B company.

    You attend trade shows, conferences and temporary events all over the world.

    You need local, short-term employees from sales personnel, translators to assistants to set up your booth and electricity.

    Matcher provides you with immediate assistance.
    </p>
  </div>
  <%= link_to new_company_registration_path do %>
  <div class="button-company">
    <p>
      Find your <br>
      employees now
    </p>
  </div>
  <% end %>
</div>


<div class="banner-company"></div>
