<div class="row">
  <div class="col-sm-6 text-right">
    <div class="main-header">
      <h1>MATCHER</h1>
    </div>
    <div class="main-text">
      <%= link_to new_company_registration_path, class: 'ui inverted button' do %>
        Find your employees now
      <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="awesome-david-wizard">
      <div class="text-left">
        <div class="card-block">
          <h3 class="card-title">
            Find your short-term <strong>employees anywhere</strong>, <strong>anytime</strong>.
          </h3>
          <hr>
          <p>
            You are a B2B company. You attend trade shows, conferences and temporary events all over the world.<br>
          </p>
          <p>
            You need <strong>local</strong>, <strong>short-term employees</strong> from sales personnel,<br> translators to assistants to set up your booth and electricity.<br>
          </p>
          <p>
            MATCHER provides you with <strong>immediate assistance</strong>.<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-company"></div>
