<div class="banner-gradient-shadow">
  <div class="container anchor">
    <div class="main-header text-center">
      <h1>TADAAA work on the VIEW now, VIEW FOR landing page /i-am-a-company </h1>
    </div>
  </div>
</div>
