<div class="banner-gradient-shadow">
  <div class="container">
    <div class="main-header text-center">
      <h1>TADAAA VIEW for landing page /i-am-a-company </h1>
      <div class="button text-center">
          <%= link_to "Create my company profile",company_account_profile_path, class: "ui inverted button" %>
        </div>
    </div>
  </div>
</div>
