button {
  font-family: inherit;
  font-size: inherit;
  font: inherit;
  line-height: inherit;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
  color: inherit;
  margin: 0;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  font-family: $header-font;
  font-weight: bold;
}
