<div class="banner" style="background-image: linear-gradient(-225deg, rgba(233, 100, 67, 0.6) 40%, rgba(144, 78, 149, 0.6) 50%), url('http://p1.pichost.me/i/51/1749123.jpg?dl=1');">
  <div class="banner-content">
    <h2>Job Title</h2>
    <h2>Setmember 2nd - 5th 2016</h2>
    <a href="#" class="btn-success">Apply now</a>
  </div>
</div>




<!-- <h2><%= @job.name %></h2>
<h2><%= @job.city %></h2>
<h2><%= @job.date %></h2>
 -->